@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
	--text-primary: #008B8B;
	--text-secondary: #0ABAB5;
	--text-dark: #666666;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	transition: .6s ease-in-out;
}

.text-primary {
	color: var(--text-primary);
}

.text-secondary {
	color: var(--text-secondary);
}

.text-sm {
	font-size: 12px;
}

.text-dark {
	color: var(--text-dark);
}

.font-bold {
	font-weight: bold;
}

.bg-primary {
	color: var(--text-primary);
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.position-absolute {
	position: absolute;
}

.r-2 {
	right: 24px;	
}

.mt-2 {
	margin-top: 6px;
}

.mb-3 {
	margin-bottom: 8px;
}

.mb-4 {
	margin-bottom: 12px;
}

.p-2 {
	padding: 3px;
}

.p-5 {
	padding: 12px;
}

.mb-2 {
	margin-bottom: 3px;
}

.w-100 {
	width: 100%;
}

.c-form-control {
	border-radius: 50px;
    border: none;
	background: #F0F0F0;
	padding: 12px;
	text-indent: 6px;
	outline: none;
	color: var(--text-dark);
}

.c-form-control:focus {
	background: #E8E8E8;
}

.c-btn {
	background-color: var(--text-primary);
	color: #FFFFFF;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	outline: none;
}

.btn-sm {
	padding: 6px;
	width: 26px;
}

.btn-xs {
	padding: 4px;
	width: 22px;
}

.separator {
	display: flex;
	justify-content: center;
	color: var(--text-dark);
	position: relative;
	top: 12px;
}